<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>La nuée</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">

    <style>
      .navbar-section a {
        font-family: 'Oswald';
      }
      .navbar-section a:hover {
        color:red !important;
      }
    </style>

  </head>
  <body>
    <div class="container">
    <header class="navbar mt-2">
      <section class="navbar-section">
        <a href="#" class="navbar-brand" style="font-size:40px; font-weight:bold; text-transform:uppercase; color:#000">La Nuée</a>
        <a href="#" class="btn btn-link ml-2 mt-2" style="font-weight:bold; text-transform:uppercase; color:#000">Nos kits</a>
        <a href="#" class="btn btn-link ml-2 mt-2" style="font-weight:bold; text-transform:uppercase; color:#000">A propos</a>
        <a href="#" class="btn btn-link mt-2" style="font-weight:bold; text-transform:uppercase; color:#000">Contact</a>
      </section>
      <section class="navbar-center">
        <img class="logo" style="width:100px" src="../logo.png">
      </section>
      <section class="navbar-section">
        <a href="#" class="btn btn-link mt-2" style="font-weight:bold; text-transform:uppercase; color:#000">Base</a>
      </section>
    </header>

    <div class="container mt-2">
      <div class="columns">
        <div class="column col-6">col-3</div>
        <div class="column col-2">col-2</div>
        <div class="column col-1">col-1</div>
      </div>
    </div>

    </div>
  </body>
</html>
